<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
  


    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("your logo here", "Index", "Home")</p>
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        </ul>
                    </nav>
                </div>
            </div>
            @Styles.Render("~/bundles/bootstyle") <!-- include bootstrap.css file with bootstyle bundles -->
            @Styles.Render("~/bundles/animate") <!-- animate.css -->
            @Styles.Render("~/bundles/font") <!-- font.css -->
            @Styles.Render("~/bundles/plugins") <!-- plugin.css -->
            @Styles.Render("~/bundles/apps") <!-- app.css -->
            @Scripts.Render("~/bundles/jquery",
        "~/bundles/bootstrap",
        "~/bundles/app",
        "~/bundles/appplugin",
        "~/bundles/fuelux",
        "~/bundles/bootstrap-datepicker")
            <link href="@Url.Content("~/Content/ui-framework/css/font-awesome.min.css")" rel="stylesheet" type="text/css" />
            <link href="@Url.Content("~/Content/css/style.css")" rel="stylesheet" type="text/css" />
            <link href=@Url.Content("~/Content/ui-framework/js/datatables/datatables.css") rel="stylesheet" />
            @RenderSection("Styles", false)
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; 2019 by Sonny</p>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
